
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --BGCOLOR: hsl(0, 0%, 8%);
    --FF: "Inter",sans-serif;
    --FCOLOR: #fff;
    --CONTAINER-BGCOLOR: hsl(0, 0%, 12%);
}

html{
    scroll-behavior: smooth;
    scrollbar-width: none;
    font-size: 62.5%;
}
body{
    background-color: var(--BGCOLOR);
    font-family: var(--FF);
    color: var(--FCOLOR);
}

.container{
    background-color: var(--CONTAINER-BGCOLOR) ;
    width: 65%;
    height: auto;
    border-radius: 25px;
    box-shadow: 0 0 10px 15px hsl(0, 0%, 10%);
    margin: 35% auto;
    text-align: center;
}
.container img{
    width: 35%;
    border-radius: 50%;
    margin: 10% auto ;
}
.container h1{
    font-size: 2rem;
}
.container h2{
    font-size: 1rem;
    margin: 5% auto;
    color: hsl(75, 94%, 57%);
}
.container p{
    color: hsl(29, 100%, 95%);
    margin: 5% auto;
    font-size: 1rem;
}
.container .links a {
    display: block;
    width: 80%;
    background-color: hsl(0, 0%, 20%);
    border-radius: 25px;
    padding: 5% 0;
    color: #fff;
    text-decoration: none;
    margin: 5% auto;
}
.container .links a:hover {
    background-color: hsl(75, 94%, 57%);
    color: var(--CONTAINER-BGCOLOR);
}
.attribution { 
    font-size: 1.1rem; 
    text-align: center;
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@media only screen and (min-width: 520px) {
    .container{
        width: 50%;
        margin: 10% auto;
    }
    .container h1{
        font-size: 2.5rem;
    }
    .container h2{
        font-size: 1.5rem;
    }
    .container p{
        font-size: 1.25rem;
    }
    .container .links a {
        padding: 4% 0;
        margin: 5% auto;
    }
}
@media only screen and (min-width: 1024px) {
    .container{
        width: 25%;
        margin: 5% auto;
    }
    .container h1{
        font-size: 2.75rem;
    }
    .container h2{
        font-size: 2rem;
    }
    .container p{
        font-size: 1.75rem;
    }
    .container .links a {
        font-size: 1.55rem;
    }
}
